# For PCBs designed using 6.0 KiCad: https://www.kicad.org/
# Format documentation: https://docs.kicad.org/6.0/en/kicad/kicad.html
# Git - gitignore syntax: https://git-scm.com/docs/gitignore

#Ignore Files
*.sch-bak
_autosave-*
.DS_Store
*/fp-info-cache
*/*-backups/*
*.kicad_prl
