#This file tells Git to ignore certain files when pushing
#More info at: https://www.w3schools.com/git/git_ignore.asp


*.sch-bak
_autosave-*
.DS_Store
*/fp-info-cache
*/*-backups/*

#Ignore KiCad backup folders!
*-backups/